# Ambientes virtuais
.venv/
env/
__pycache__/
*.pyc
*.pyo
.idea/
db.sqlite3
*.env

# Configurações locais
.idea/
*.env
.env
# *.sqlite3

# # Uploads temporários
# uploads/

# # ChromaDB persiste em um diretório interno; pode ser ignorado se desejar
# chromadb/